@using Azure.Uploader.Models
@{
    ViewData["Title"] = "Azure Uploader";
}
@model Azure.Uploader.Models.Upload

<div class="jumbotron">
            
    <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Post" id="input">
        <h3>Upload your User-Agents using this form</h3>
        <div class="form-group">
            <label for="File">Input File</label>
            <input type="file" asp-for="FormFile" id="inputFile" class="form-control-file">
            <small class="form-text text-muted">*Supported file formats are xlsx and csv</small>
            <p><span asp-validation-for="FormFile" class="text-danger"></span></p>
        </div>
        <div class="form-group">
            <label for="Name">Enter your name</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Enter your Name...">
            <p><span asp-validation-for="Name" class="text-danger"> </span></p>
        </div>
        <div class="form-group">
            <label for="Name">Enter your Email</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Email Address...">
            <p><span asp-validation-for="Email" class="text-danger"> </span></p>
        </div>
        <div class="form-group">
            <label for="Name">Enter your Licence Key</label>
            <input type="text" asp-for="LicenceKey" class="form-control" placeholder="Licence key...">
            <p><span asp-validation-for="LicenceKey" class="text-danger"> </span></p>
        </div>
        <div class="form-group">
            <label for="Name">Enter some Notes</label>
            <textarea rows="2" style="resize:none;" type="text" asp-for="Notes" class="form-control" placeholder="Notes..."></textarea>
            
        </div>
        <button type="submit" class="btn btn-primary" form="input">Upload</button>
        <div>
            <p>@Html.Raw(ViewBag.Response)</p>
        </div>
        </form>
</div>
      
